<uses-permission android:name="android.permission.INTERNET" />

<application ...>
    <!-- MainActivity est LAUNCHER, autres activities déjà déclarées -->
    <activity android:name=".MainActivity" android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
</application>
